* {
    padding: 0;
    margin: 0X;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 1%;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.nav_img {
    display: flex;
    width: 10%;
    height: auto;
    max-width: 300px;
    padding-left: 2%;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
    margin: 0;
}

nav li {
    font-family: "Montserrat", sans-serif;
    white-space: nowrap;
}

nav a {
    text-decoration: none;
    color: #1E1E1E;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: #1E1E1E;
}

nav a:hover {
    text-decoration: none;
    color: #1d99ce;
    transition: 0.2s;
    border-bottom: solid;
    border-color: #1d99ce;
}

.login {
    padding-right: 2%;
}

.active {
    text-decoration: none;
    color: #1d99ce;
    border-bottom: solid;
    border-color: #1d99ce;
}

@media only screen and (max-width: 991px) {
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-top: 3%;
    }

    .login {
        margin-top: 3%;
    }

}
.barre_recherhce {
    margin: 15px ;
    cursor: pointer;
    color: white ; 
    border-radius: 5px;
    width: 400px;
    height: 50px;
}
.boutton_recherche{
    margin-left: 10px ;
    cursor: pointer;
    color: white ; 
    border-radius: 5px;
    width: 150px;
    height: 35px;
    
}



